<div id="slider_container">
  <div id="slider">
    <ul>
      <li><img src="images/status.jpg" title="" /"This is use to know the Status of an Initial Repostaries" ></li>
      <li><img src="images/init.jpg" title="This is use to initialize the Repositaries for the first time" /></li>
      <li><img src="images/version.jpg" title="To Know the version of your Git" /></li>
      
    </ul>
  </div>
</div>
<div class="buttonBox">
  <span onclick="prev()">Previous</span>
  <ul id="slider_btns">
    <li onclick="go(1,1)"></li>
    <li onclick="go(2,2)"></li>
    <li onclick="go(3,3)"></li>
    <li onclick="go(4,4)"></li>
    <li onclick="go(5,5)"></li>
  </ul>
  <span onclick="next()">Next</span>
</div>
<style>
  *{
  margin: 0;
  padding: 0;
}
#slider {
  height:200px;
  width:300px;
  overflow:hidden;
  border:2px blue solid;
}
#slider img {
  height: 200px;
  width: 300px;
  float: left;
}
#slider ul {
  list-style: none;  
  height:200px;
  width:1500px;
  position:relative;
}
#slider li {
  display: inline;
}
#mouseover {
  height: 45px;
  width: 45px;
  margin: 50px;
  background-color: #ccc;
}
#slider_btns {
  list-style: none;
  width: 200px;
  text-align: center;
}
#slider_btns li {
  display: inline-block;
  background: #ebebeb;
  height: 15px;
  width: 15px;
  margin: 5px;
  border: 2px solid silver;
  border-radius: 50%;
  cursor: pointer;
}
#slider_btns li.active {
  border-color: red;
}
.buttonBox span, .buttonBox ul {
  float: left;
}
.buttonBox span {
  display: inline-block;
  font-family: sans-serif;
  padding: 5px;
  cursor: pointer;
}
</style>
<script>
  $(document).ready(function(){
  window.current = 1;
  setActiveBtn(current);
  window.pause = false;
  window.sliderTimer = setInterval( go, 5000);
  $( "#slider_container" ).hover(
    function() {
      pause = true;
      //console.log("pause");
    }, function() {
      pause = false;
      //console.log("un-pause");
    }
  );
});
/* PARAMS: next index (optional), current index (optional) */
function go(){
  if(pause){
    restartTimer();
    return false;
  }
  if(arguments[1]){
    restartTimer();
  }
  var picWidth = 300,
      max = 5,
      bumpit = "",
      /* HANDLE THE PREV() INDEXING BELOW 1 */
      pos = (arguments[0] === undefined) ? ++current : ( arguments[0] === 0 ? max : arguments[0]);
  current = (arguments[1] === undefined) ? current : ( arguments[0] === 0 ? max : arguments[0]);
  setActiveBtn(current);
  if( pos <= max ){
    bumpit = ( pos - 1 ) * picWidth;
    bumpit = "-" + bumpit + "px";
    $("#slider ul").animate( {left: bumpit }, 1000 );
  } else {
    current = 1;
    go(1);
  }
}
function restartTimer() {
  clearInterval(sliderTimer);
  sliderTimer = setInterval( go, 5000);
}
function setActiveBtn(index){
  $("#slider_btns li").removeClass("active").not( $("#slider_btns li").eq(index - 1).addClass("active") );
}
function next() {
  var nextIndex = current + 1;
  go(nextIndex, nextIndex);
}
function prev() {
  var prevIndex = current - 1;
  go(prevIndex, prevIndex);
}
</script>
