<input id="sliderSwitch" class="slider__switch" type="checkbox" name="sliderSwitch" hidden />
<div class="slider">
  <ul class="slider__list">
    <li class="slider__slide"><img src="/images/init.JPG" alt="Slide image number 1 with plane" /></li>
    <li class="slider__slide"><img src="/images/status.JPG" /></li>
    <li class="slider__slide"><img src="/images/version.JPG" alt="To know the Version of Git installed" /></li>
  </ul>
</div>
<div class="slider__control">
  <label for="sliderSwitch"></label>
</div>
  
  <style>
  // Remy function to convert pixels to rems
@function remy($value) {
  @return ($value / 16px) * 1rem;
}
/**
 * Base
 */
body {
  font-size: 100%;
  background: #f1f1f1;
}
/* Fallback for hidden attribute */
hidden {display: none;}

/**
 * Keyframes for autoplay
 */
@keyframes autoplay {
  /* position of the first slide */
  0% {left: 0;}
  /* position of the second slide */
  25% {left: remy(-650px);}
  /* position of the third slide */
  50% {left: remy(-1300px);}
  /* position of the fourth slide */
  100% {left: remy(-1950px);}
}
/**
 * Slider
 */
.slider {
  position: relative;
  /* top margin is for purposes of demo */
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  width: remy(650px);
  height: remy(420px);
  box-shadow: 0 4px 14px rgba(0,0,0,.25);
}
.slider__list {
  position: absolute;
  left: 0;
  width: remy(2600px);
}
.slider__slide {float: left;}
/**
 * Slider control
 */
.slider__control {
  margin-right: auto;
  margin-left: auto;
  width: remy(72px);
  font-family: sans-serif;
}
.slider__control label {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 4.5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: transparent;
  background: #ddd;
  border-radius: 2rem;
  cursor: pointer;
  transition: left 0.15s ease-out;
  &:before {
    content: "autoplay";
    position: absolute;
    top: 2.5rem;
    left: 0;
    color: #333;
    font-size: .95rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  &:after {
    content: "";
    position: absolute;
    top: .25rem;
    left: .25rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    background: #fff;
    transition: left 0.15s ease-out;
    transform: translate3d(0, 0, 0);
  }
}
.slider__switch:checked + .slider > .slider__list {
  animation-name: autoplay;
  /* This will change the time it takes to move to next slide */
  animation-duration: 10s;
  //animation-delay: 3.5s;
  animation-iteration-count: infinite;
}
.slider__switch:checked + .slider + .slider__control > label {
  background: #455a64;
  &:after {left: 2.75rem;}
}
  </style>
  
